<div>
  <h2 class="text-[32px] leading-9 text-primary font-roboto-bold mb-5">
    {{ "userInfo" | translate }}
  </h2>

  <div
    class="flex flex-col gap-2"
    *ngIf="userDetail$ | async as userDetail; else skeleton"
  >
    <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
      <span class="text-primary pr-1">{{ "firstName" | translate }}:</span>
      <p
        nz-typography
        nzEditable
        [(nzContent)]="first_name"
        (nzContentChange)="updateProfile(first_name, 1)"
      ></p>
    </div>
    <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
      <span class="text-primary pr-1">{{ "lastName" | translate }}:</span>
      <p
        nz-typography
        nzEditable
        [(nzContent)]="last_name"
        (nzContentChange)="updateProfile(last_name, 2)"
      ></p>
    </div>
    <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
      <span class="text-primary pr-1">{{ "phone" | translate }}:</span>
      <p
        nz-typography
        nzEditable
        [(nzContent)]="phone"
        (nzContentChange)="updateProfile(phone, 3)"
      ></p>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
    <span class="text-primary pr-1">{{ "firstName" | translate }}:</span>
    <nz-skeleton-element
      nzType="input"
      [nzActive]="true"
      nzSize="small"
    ></nz-skeleton-element>
  </div>
  <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
    <span class="text-primary pr-1">{{ "lastName" | translate }}:</span>
    <nz-skeleton-element
      nzType="input"
      [nzActive]="true"
      nzSize="small"
    ></nz-skeleton-element>
  </div>
  <div class="text-base leading-[18px] font-roboto-medium flex flex-row">
    <span class="text-primary pr-1">{{ "phone" | translate }}:</span>
    <nz-skeleton-element
      nzType="input"
      [nzActive]="true"
      nzSize="small"
    ></nz-skeleton-element>
  </div>
</ng-template>

<app-secure-code-modal
  [form]="form"
  [confirmationCodeLength]="confirmationCodeLength"
  [(isVisible)]="isVisible"
  (confirmSecureCode)="confirmSecureCode()"
></app-secure-code-modal>
