<div class="bg-orange h-[500px] mb-20">
  <div class="container mx-auto md:px-0 px-1.5 relative h-full">
    <div class="flex flex-col gap-3 h-full justify-center">
      <h3
        class="text-white md:text-left text-center text-[60px] lg:text-[85px] font-roboto-black uppercase z-10"
      >
        {{ "ANALYTIC" | translate }}
      </h3>
    </div>
    <img
      class="absolute bottom-0 right-0 block h-[300px] md:h-[400px]"
      src="./assets/image/analytic-img-banner.png"
      alt="img"
    />
  </div>
</div>

<div class="container mx-auto md:px-0 px-1.5">
  <p
    class="text-xl font-roboto-medium md:max-w-[45%] max-w-full md:mx-16 mx-auto"
  >
    {{ "introductionData.desc" | translate }}
  </p>
</div>

<div class="container mx-auto md:px-0 px-1.5">
  <app-info-blocks [data]="infoBlockData"></app-info-blocks>
</div>

<app-touched-image [imageInfo]="apexVRImageData"></app-touched-image>
<div class="container mx-auto md:px-0 px-1.5">
  <app-features [data]="apexVRFeatures"></app-features>
</div>
<div class="container mx-auto md:px-0 px-1.5">
  <app-network [data]="networking"></app-network>
</div>

<div class="container mx-auto md:px-0 px-1.5">
  <app-specification [specifications]="apexVRSpecification"></app-specification>
</div>
<app-partners></app-partners>
<app-contact-banner><app-contact-form></app-contact-form></app-contact-banner>
