<div
  class="p-7 border border-[#E6E6E6] rounded-[20px] flex flex-col gap-5 cursor-pointer hover:shadow-product transition"
>
  <div class="h-[295px] w-full">
    <img
      class="h-full w-full object-cover"
      nz-image
      nzSrc="error"
      [nzFallback]="fallback"
      alt="card-img"
    />
  </div>

  <div class="flex flex-col items-center">
    <h3
      class="line-clamp-2 mb-4 text-xl text-center text-primary font-roboto-medium leading-6"
    >
      Laparoscopic TrainerAdvance ver. Expert
    </h3>
    <span class="text-2xl text-orange font-roboto-bold leading-6">2 279 $</span>
  </div>
</div>
