<div
  class="p-7 border border-[#E6E6E6] rounded-[20px] mx-auto flex flex-col max-w-[320px] w-full sm:max-w-full sm:w-full gap-5 cursor-pointer hover:shadow-product transition items-stretch h-fit sm:h-[461px] relative"
  (click)="navigateToProduct(product.id)"
>
  <div
    *ngIf="product.discount"
    class="absolute top-[10%] right-[10%] z-10 bg-primary rounded-full text-white font-roboto-medium w-12 h-12 flex flex-row items-center justify-center"
  >
    -{{ product.discount | number : "1.0-0" }} %
  </div>
  <div class="sm:h-[295px] w-full h-[260px]">
    <img
      class="h-full w-full object-cover"
      nz-image
      [nzDisablePreview]="true"
      [nzSrc]="product.image"
      [nzFallback]="fallback"
      alt="card-img"
    />
  </div>

  <div class="flex flex-col items-center">
    <h3
      class="line-clamp-2 mb-4 text-xl text-center text-primary font-roboto-medium leading-6"
    >
      {{ product.title | myTranslate | async }}
    </h3>
    <div class="flex flex-col items-center">
      <span
        [ngClass]="{
          'text-sm': product.discount && product.new_price,
          'line-through': product.discount && product.new_price
        }"
        class="text-2xl text-orange font-roboto-bold leading-6"
        >{{ product.price | myCurrency | async }}</span
      >

      <span
        class="text-2xl text-primary font-roboto-bold leading-6 ml-3"
        *ngIf="product.discount && product.new_price"
        >{{ product.new_price | myCurrency | async }}</span
      >
    </div>
  </div>
</div>
