<div class="bg-orange h-[575px]">
  <div class="container mx-auto h-full md:px-0 px-1.5">
    <div
      class="flex lg:flex-row flex-col justify-center lg:justify-between h-full"
    >
      <div class="w-max-[745px] w-full flex flex-col justify-center flex-1">
        <ng-content></ng-content>
      </div>
      <div class="flex-1 self-end lg:block hidden max-w-[787px] w-ful">
        <img class="w-full h-full object-cover" src="./assets/image/contact-banner.png" alt="banner" />
      </div>
    </div>
  </div>
</div>
