<div class="container mx-auto md:px-0 px-1.5 lg:pt-16 md:pt-10 pt-6 pb-8">
  <div class="grid grid-cols-12 md:gap-[30px] gap-5" *ngIf="product$ | async as product; else loading">
    <div class="lg:col-span-6 col-span-12">
      <app-product-detail-slider [slides]="product.product_images" [title]="product.title">
      </app-product-detail-slider>
    </div>
    <div class="lg:col-span-6 col-span-12">
      <app-product-detail-info [product]="product"></app-product-detail-info>
    </div>
  </div>

  <ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
      <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading..."></nz-spin>
    </div>
  </ng-template>
</div>