<div class="flex gap-3 items-center hover:bg-[#f1f5f9] transition">
  <img class="size-[3.75rem] object-cover" src="" azHandleImgError alt="item">
  <div class="flex gap-3 grow">
    <div class="flex flex-col gap-1 grow">
      <h5 class="text-xl text-primary font-roboto-bold select-none">Aspire</h5>
      <p class="text-base text-primary font-roboto-regular select-none">1 x 2 660 000 so’m=2 660 660 so’m</p>
    </div><span class="p-1"><span class="cursor-pointer"><svg-trash></svg-trash></span></span>
  </div>
</div>