<div
  class="container mx-auto md:px-0 px-3 md:py-[50px] py-[20px] h-full flex flex-row items-center justify-center"
>
  <div class="max-w-[400px] w-full form flex flex-col justify-center">
    <h2
      class="text-center uppercase text-2xl font-roboto-bold text-primary mb-2"
    >
      {{ "createNewPassword" | translate }}
    </h2>
    <span
      class="text-grey text-center text-base font-roboto-regular block mb-8"
      >{{ "minLengthPassword" | translate }}</span
    >

    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'minLengthPassword' | translate">
          <nz-input-group
            [nzPrefix]="prefixLock"
            [nzSuffix]="suffixEye"
            nzSize="large"
            (ngModelChange)="updateConfirmValidator()"
          >
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="password"
              [placeholder]="'password' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group
            [nzPrefix]="prefixLock"
            [nzSuffix]="suffixEye2"
            nzSize="large"
            (ngModelChange)="updateConfirmValidator()"
          >
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              nz-input
              formControlName="checkPassword"
              [placeholder]="'confirmPassword' | translate"
            />
          </nz-input-group>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{
              "confirmPassword" | translate
            }}</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              {{ "incosistentPassword" | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <ng-template #prefixLock>
        <svg-lock></svg-lock>
      </ng-template>

      <ng-template #suffixEye>
        <span (click)="passwordVisible = !passwordVisible" class="select-none">
          <ng-container *ngIf="passwordVisible; else elseTemplate">
            <svg-eye-slash></svg-eye-slash>
          </ng-container>
          <ng-template #elseTemplate>
            <svg-eye></svg-eye>
          </ng-template>
        </span>
      </ng-template>
      <ng-template #suffixEye2>
        <span
          (click)="confirmPasswordVisible = !confirmPasswordVisible"
          class="select-none"
        >
          <ng-container *ngIf="confirmPasswordVisible; else elseTemplate">
            <svg-eye-slash></svg-eye-slash>
          </ng-container>
          <ng-template #elseTemplate>
            <svg-eye></svg-eye>
          </ng-template>
        </span>
      </ng-template>

      <button
        [nzLoading]="isLoading"
        nz-button
        nzShape="round"
        nzBlock
        nzSize="large"
        [nzType]="'primary'"
        (click)="createNewPassword()"
      >
        {{ "save" | translate }}
      </button>
    </form>
  </div>
</div>
