.title-menu {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #38B6C2;
    }
}