<div class="container mx-auto py-10 md:py-20 md:px-0 px-3">
  <div
    class="flex flex-row flex-wrap justify-center md:justify-between mb-2.5 md:gap-3 gap-7 responsive-full-width"
  >
    <div class="sm:text-left text-center w-full sm:w-auto">
      <div class="mb-8 w-full sm:w-auto"><app-logo></app-logo></div>
      <ul>
        <li
          class="font-roboto-regular min-[768px]:text-base max-[767px]:text-sm mb-2"
        >
          Toshkent shahri,
        </li>
        <li
          class="font-roboto-regular min-[768px]:text-base max-[767px]:text-sm mb-2"
        >
          Chilonzor tumani kichik xalqa yo'li,
        </li>
        <li
          class="font-roboto-regular min-[768px]:text-base max-[767px]:text-sm mb-2"
        >
          Gavhar MFY, 45-uy
        </li>
        <li
          class="font-roboto-regular min-[768px]:text-base max-[767px]:text-sm mb-2"
        >
          E-mail: shukrullayev99@gmail.com
        </li>
        <li
          class="font-roboto-regular min-[768px]:text-base max-[767px]:text-sm mb-2"
        >
          Tel.:+998 90 013 70 77
        </li>
      </ul>
    </div>
    <div class="sm:text-left text-center w-full sm:w-auto">
      <span
        class="text-lg font-roboto-bold title-menu pb-2.5 mb-4 md:mb-8 block"
        >TAKLIFLAR</span
      ><app-menu-list [list]="menuItems"></app-menu-list>
    </div>
    <div class="sm:text-left text-center w-full sm:w-auto">
      <span
        class="text-lg font-roboto-bold title-menu pb-2.5 mb-4 md:mb-8 block"
        >BIZ HAQIMIZDA </span
      ><app-menu-list [list]="links"></app-menu-list>
    </div>
    <div class="sm:text-left text-center w-full sm:w-auto">
      <span
        class="text-lg font-roboto-bold title-menu pb-2.5 mb-4 md:mb-8 block"
        >IJTIMOIY TARMOQLAR</span
      >
      <ul
        class="flex flex-row gap-4 items-center cursor-pointer md:justify-start justify-center"
      >
        <li>
          <a href="https://www.instagram.com/imodels.uz/"
            ><svg-telegram></svg-telegram
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/imodels.uz/">
            <svg-instagram></svg-instagram>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@iModelsuz">
            <svg-youtube></svg-youtube>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <span class="text-xs block text-center"
    >WEB SITE CREATED BY <a href="https://jobir.uz/">JOBIR.UZ</a></span
  >
</div>
