<div class="flex flex-row items-center min-[576px]:gap-5 max-[575px]:gap-2.5">
  <app-language></app-language>
  <app-cart class="min-[576px]:scale-100 max-[575px]:scale-75"></app-cart>
  <div
    class="cursor-pointer min-[576px]:scale-100 max-[575px]:scale-75"
    (click)="navigateToCabinet()"
  >
    <svg-user></svg-user>
  </div>
  <span
    (click)="openDrawerMenu()"
    class="min-[1024px]:hidden max-[1023px]:flex min-[576px]:text-2xl max-[575px]:text-lg text-primary"
    nz-icon
    nzType="menu"
    nzTheme="outline"
  ></span>
</div>

<!-- DRAWER MENU -->
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="visibleDrawerMenu"
  nzPlacement="left"
  (nzOnClose)="closeDrawerMenu()"
>
  <ng-container *nzDrawerContent>
    <app-menu
      [isDrawer]="true"
      (closeDrawerMenu)="closeDrawerMenu()"
    ></app-menu>
  </ng-container>
</nz-drawer>
