<div class="relative" *ngIf="blog && blog.results">
  <button (click)="pre()" class="absolute top-[50%] z-10 left-16 lg:block hidden">
    <svg-circle-arrow [color]="'#38B6C2'"></svg-circle-arrow>
  </button>
  <div class="container mx-auto md:px-0 px-3 md:py-[100px] py-[50px]">
    <app-section-title [section]="'news'" [title]="'wGoin'"></app-section-title>

    <swiper [breakpoints]="{
        '550': {
          slidesPerView: 1,
          spaceBetween: 10
        },
        '576': {
          slidesPerView: 1.8,
          spaceBetween: 10
        },
        '767': {
          slidesPerView: 2,
          spaceBetween: 10
        },
        '991': {
          slidesPerView: 2.4,
          spaceBetween: 20
        },
        '1170': {
          slidesPerView: 2.8,
          spaceBetween: 10
        },
        '1200': {
          slidesPerView: 3.2,
          spaceBetween: 10
        },
        '1300': {
          slidesPerView: 3.9,
          spaceBetween: 20
        }
      }" #swiper [slidesPerView]="1" [spaceBetween]="10">
      <ng-template swiperSlide *ngFor="let blog of blog.results">
        <app-blog-card [data]="blog" [formHome]="true"></app-blog-card>
      </ng-template>
    </swiper>
  </div>

  <button (click)="next()" class="rotate-180 absolute top-[50%] z-10 right-16 lg:block hidden">
    <svg-circle-arrow [color]="'#38B6C2'"></svg-circle-arrow>
  </button>
</div>