<div>
  <h2 class="text-[32px] leading-9 text-primary font-roboto-bold mb-10">
    Mening buyurtmalarim
  </h2>

  <div class="mb-4" *ngFor="let panel of panels">
    <nz-collapse nzGhost>
      <nz-collapse-panel
        [nzHeader]="header"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled"
        [nzShowArrow]="false"
      >
        <p style="margin: 0">
          A dog is a type of domesticated animal. Known for its loyalty and
          faithfulness, it can be found as a welcome guest in many households
          across the world.
        </p>

        <ng-template #header>
          <div class="flex flex-col bg-white w-full">
            <div
              class="border-b border-[#E6E6E6] pb-5 pt-1 flex flex-row items-center justify-between"
            >
              <p class="mb-0 text-base leading-[18px] font-roboto-medium">
                Buyurtma ID raqami: 2
              </p>
              <p class="mb-0 text-base leading-[18px] font-roboto-medium">
                Buyurtma sanasi: 05-04-2024 14:39
              </p>
            </div>
            <div class="pt-5 pb-1">2</div>
          </div>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
