<div
  class="p-7 border border-[#E6E6E6] rounded-[20px] flex flex-col gap-5 mx-auto max-w-[320px] w-full sm:max-w-full sm:w-full items-stretch h-fit sm:h-[461px]"
>
  <div class="sm:h-[295px] w-full h-[260px]">
    <nz-skeleton-element
      class="h-full w-full"
      nzType="image"
      [nzActive]="true"
    ></nz-skeleton-element>
  </div>

  <div class="flex flex-col items-center gap-2">
    <nz-skeleton-element
      nzType="input"
      [nzActive]="true"
      [nzSize]="'large'"
      style="width: 100%"
    ></nz-skeleton-element>
    <nz-skeleton-element
      nzType="input"
      [nzActive]="true"
      [nzSize]="'large'"
      style="width: 100%"
    ></nz-skeleton-element>
  </div>
</div>
