[nz-carousel-content] {
    text-align: center;
    height: 600px;
    line-height: 160px;
    background: #38B6C2;
    color: #fff;
    overflow: hidden;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}