<div class="flex flex-row items-center justify-between gap-3">
  <div class="flex flex-row items-center gap-3">
    <div class="w-[30px] h-[30px] overflow-hidden"><img class="w-full h-full object-cover"
        src="./assets/image/about-section.jpg" alt="card product"></div>
    <h4 class="text-sm font-roboto-bold leading-[18px]">Laparoscopic Trainer Aspire Laparoscopic Trainer Aspire ver.
      Essential
    </h4>
  </div>
  <div class="flex flex-row gap-4 items-center">
    <div class="flex flex-col gap-1 items-end w-max">
      <span class="text-sm font-roboto-bold line-through">5 683 000 so’m</span>
      <span class="text-sm font-roboto-bold text-primary">66 555 683 000 so’m</span>
    </div>
    <app-calc></app-calc>
  </div>
</div>