<ul
  nz-menu
  [nzMode]="isDrawer ? 'inline' : 'horizontal'"
  class="min-[1024px]:flex max-[1023px]:block header-menu items-center"
>
  <ng-container *ngIf="menuItems">
    <li nz-submenu [nzTitle]="menuTitle">
      <ul>
        <li
          *ngFor="let menuItem of menuItems"
          nz-menu-item
          nzMatchRouter
          [routerLink]="menuItem.routerLink"
          [queryParams]="menuItem.queryParams"
          [ngClass]="{
            isHeader: menuItem.isHeader,
            normal: !menuItem.isHeader
          }"
          class="font-roboto-medium min-[1024px]:text-lg max-[1023px]:text-sm sub-menu"
          (click)="closeDrawerMenu.emit()"
        >
          <span>{{ menuItem.label | translate }}</span>

          <nz-divider class="max-[1023px]:hidden"></nz-divider>
        </li>
      </ul>
    </li>
  </ng-container>
  <li
    nz-menu-item
    class="text-primary font-roboto-medium text-lg"
    routerLink="../about-us"
    (click)="closeDrawerMenu.emit()"
  >
    {{ "aboutUs" | translate }}
  </li>
  <li
    nz-menu-item
    class="text-primary font-roboto-medium text-lg"
    routerLink="../blog"
    (click)="closeDrawerMenu.emit()"
  >
    {{ "blog" | translate }}
  </li>
  <li
    nz-menu-item
    class="text-primary font-roboto-medium text-lg"
    routerLink="../contacts"
    (click)="closeDrawerMenu.emit()"
  >
    {{ "contact.contact" | translate }}
  </li>
</ul>

<ng-template #menuTitle>
  <div class="flex flex-row items-center gap-1 w-full justify-between">
    <span class="text-primary font-roboto-medium text-lg">{{
      "products" | translate
    }}</span>
    <svg-down></svg-down>
  </div>
</ng-template>
