<h4 class="text-2xl text-primary font-roboto-bold mb-6">Savatcha</h4>

<div class="cart-content flex gap-2 flex-col md:h-[17rem] overflow-auto cart-item-list pr-2 mb-7">
  <app-cart-item *ngFor="let item of [].constructor(10)"></app-cart-item>
</div>

<div class="flex items-center justify-between mb-[1.063rem]">
  <h5 class="text-xl font-roboto-regular">Jami:</h5>
  <span class="text-xl font-roboto-bold">2 660 000 so’m</span>
</div>

<div class="flex items-center justify-center">
  <button nz-button nzType="primary" nzShape="round" nzSize="large"
    class="flex flex-row items-center justify-center"><span>Savatga kirish</span>
    <svg-right></svg-right></button>
</div>