<div class="bg-orange h-[500px] ">
  <div class="container mx-auto md:px-0 px-3 flex flex-col justify-center items-center h-full relative">
    <img class="absolute top-14 left-12" src="./assets/image/Union.png" alt="img">
    <h2 class="text-white text-center text-[30px] md:text-[40px] lg:text-[55px] font-roboto-black uppercase z-10">{{
      'individuals' | translate }}</h2>
    <p class="text-center text-white text-sm lg:text-[24px] font-roboto-regular leading-[20px] lg:leading-[30px] z-10">
      {{ 'individualsBanner' | translate
      }}</p>

    <img class="md:block hidden absolute bottom-0 right-0" src="./assets/image/ind-banner-img.png" alt="img">
  </div>
</div>

<div class="container mx-auto md:px-0 px-3 mt-10">
  <div class="flex md:flex-row flex-col flex-wrap gap-y-14 gap-x-20">
    <div *ngFor="let adv of advantages; let i = index" class="flex flex-row flex-[30%] gap-3 items-center">
      <div class="text-8xl font-roboto-bold text-orange">{{i + 1}}</div>
      <div class="text-sm font-roboto-bold">{{adv | translate}}</div>
    </div>
  </div>
</div>

<app-list-of-product [products]="products"></app-list-of-product>