<div class="flex flex-col gap-5 max-w-[378px] cursor-pointer">
  <div class="h-[250px]">
    <img
      class="h-full w-full object-cover"
      src="./assets/image/about-section.jpg"
      alt="blog-card-img"
    />
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="truncate max-w-[305px] text-2xl font-roboto-medium">
      Lorem ipsum dolor sit amet consecter
    </h3>
    <p class="text-base font-roboto-regular line-clamp-2">
      Lorem ipsum dolor sit amet consectetur. Eget in vel tincidunt nibh
      tincidunt tortor. Scelerisque risus feugiat aliquam etiam pulvinar egestas
      imperdiet ultrices ac. Auctor eleifend nec ultrices nisi placerat euismod.
      Blandit nunc sit varius placerat ante tellus.
    </p>
    <div class="flex flex-row gap-2.5 items-center">
      <span class="text-grey text-xs font-roboto-regular">16 марта 17:17</span>
      <span
        class="text-grey flex flex-row text-xs font-roboto-regular items-center gap-[2px]"
        ><svg-eye class="flex"></svg-eye> 10017</span
      >
    </div>
  </div>
</div>
