<div class="flex flex-col">
  <h3 class="text-3xl text-orange uppercase font-roboto-black mb-5">
    {{ "categories" | translate }}
  </h3>

  <div
    class="flex flex-row flex-wrap gap-4"
    *ngIf="category$ | async as categories"
  >
    <app-category-item [id]="0"></app-category-item>
    <app-category-item
      *ngFor="let category of categories"
      [category]="category"
      [id]="category.id"
    ></app-category-item>
  </div>

  <div class="pt-10">
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large" class="m">
      <input
        type="text"
        nz-input
        [placeholder]="'search' | translate"
        [(ngModel)]="value"
        (keydown.enter)="searchText()"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <ng-container *ngIf="!value.length; else elseTemplate"
        ><svg-search></svg-search
      ></ng-container>
      <ng-template #elseTemplate>
        <span
          (click)="resetInputHanlder()"
          nz-icon
          nzType="close"
          nzTheme="outline"
          class="cursor-pointer"
        ></span>
      </ng-template>
    </ng-template>
  </div>
</div>
