<div
  class="container mx-auto md:px-0 px-3 md:py-[50px] py-[20px] h-full flex flex-row items-center justify-center"
>
  <div class="max-w-[514px] w-full form flex flex-col justify-center">
    <p class="text-base font-roboto-medium text-primary mb-2">
      {{ "resetPasswordText" | translate }}
    </p>
    <small
      *ngIf="phoneNotFound"
      class="text-error text-base font-roboto-medium"
      >{{ "phoneNotFound" | translate }}</small
    >

    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'fillTheField' | translate">
          <nz-input-group [nzPrefix]="prefixPhone" nzSize="large">
            <input
              type="text"
              nz-input
              formControlName="phone"
              [mask]="'00 000 00 00'"
              [prefix]="PHONE_PREFIX"
              [showMaskTyped]="true"
              [placeholder]="'inputYourPhone' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <ng-template #prefixPhone>
        <svg-phone [color]="'#CDCDCD'"></svg-phone>
      </ng-template>
    </form>

    <div class="flex justify-between items-center">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        (click)="sendPhone()"
        [nzLoading]="isLoading"
      >
        {{ "resetPasswordBtn" | translate }}
      </button>
      <button nz-button nzType="link" nzSize="large" routerLink="../sign-up">
        {{ "back" | translate }}
      </button>
    </div>
  </div>
</div>
